@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	list-style:none;
	font-family:"맑은 고딕";
	padding:0;
}
a{
	color:inherit;
	text-decoration:none;
}
button{
	cursor:pointer;
}
html,body{
	min-width:1200px;
	color:#222328;
}
.wrap{
	width:1200px;
}
.clear{
	clear:both;
}

header{
	height:100px;
	position:relative;
	width:1200px;
}
.logo{
	position:absolute;
	top:25%;
	height:40px;
	width:200px;
	overflow:hidden;
}
nav{
	top:25%;
	right:0;
	position:absolute;
	width:600px;
	height:20px;
}
.nav>li{
	width:150px;
	float:left;
	position:relative;
	text-align:center;
	padding:5px 0;
	transition:all 0.4s;
}
.nav>li:hover{
	background-color:#ffa800;
	color:#fff;
}
.submenu{
	display:none;
	z-index:500;
	width:100%;
	background-color:rgba(255,255,255,0.8);
	margin-top:5px;
	position:absolute;
}
.submenu>li{
	padding:5px 0;
	color:#222328;
	transition:all 0.4s;
}
.submenu>li:hover{
	background-color:#F2DC13;
	color:#fff;
}

#imageslide{
	height:300px;
	width:1200px;
	overflow:hidden;
	position:relative;
}
.slide{
	height:900px;
}
.slide li{
	width:1200px;
	height:300px;
	position:relative;
	float:left;
}
.slide p{
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	text-align:center;
	width:230px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:50px;
	font-size:20px;
	padding:10px;
	font-weight:bold;
}


#contents{
	height:200px;
	overflow:hidden;
}
.tab{
	float:left;
	width:400px;
	position:relative;
	cursor:pointer;
	margin-top:5px;
	text-align:center;
}
.tab h2{
	font-size:20px;
	border-bottom:3px solid #ccc; 
	padding:5px;
	float:left;
	color:#ccc;
	position:relative;
}
.tab h2.on{
	color:#ffa800;
	border-bottom:3px solid #ffa800;
}
.tab ul{
	position:absolute;
	top:40px;
	width:360px;
	height:160px;
	padding:5px;
}
.news li{
	border-bottom:1px solid #666;
	padding:5px;
	font-size:15px;
	color:#666;
	overflow:hidden;
}
.news li a{
	float:left;
}
.news li span{
	float:right;
}
.gallery ul{
	display:none;
	margin:5px;
}
.gallery ul li{
	float:left;
	margin:0 3px;
}
.popup{
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	height:520px;
	background-color:#fff;
	z-index:1000000000;
	border:1px solid #666;
}
.popup h3{
	text-indent:20px;
	line-height:64px;
	font-size:17px;
	border-bottom:1px solid #ccc;
}
.text{
	margin:20px;
}
.close{
	text-align:center;
	margin-bottom:10px;
}
.close button{
	background-color:#ccc;
	color:#fff;
	border:none;
	padding:5px;
	font-size:16px;
}
.close button:hover{
	background-color:#ffa800;
	color:#fff;
}
.banner{
	float:left;
	width:400px;
	overflow:hidden;
	text-align:center;
}
.gogo{
	float:left;
	width:400px;
	overflow:hidden;
	text-align:center;
}


footer{
	height:100px;
	position:relative;
}
.logobtm{
	width:300px;
	float:left;
	margin-top:25px;
	text-align:center;
}
.logobtm img{
	width:180px;
}
.copy{
	margin-top:25px;
	font-size:13px;
	width:600px;
	float:left;
	text-align:center;
}
.sns{
	width:300px;
	float:left;
	text-align:center;
	margin-top:25px;
}
.sns img{
	margin:0 5px;
}